extends layout

block content
  section
    img(src='images/corporatelife.jpg' alt='employee_pic')
    #login
      h3 Login 
      form(method='POST' action='/login')
        fieldset
            label(for='username') Username &nbsp;
            input#username(type='text' name='username')
        fieldset
            label(for='password') Password &nbsp;
            input#password(type='password' name='password')
        input(type='submit' value='Login')
  block content
  include footer